h1,form{
  text-align: center;
}
nav{
  background-color: black;
  margin-bottom:10%;

}


/* home.html */
#a-tag,#nav-a{
  color:white;
}
  

#list-name{
  margin-left:-10%;
  
}
#home-list{
  width:30%;
  margin-left:35%;
  text-align: center;
  list-style: none;
  background-color: black;
  margin-top:4%;
  margin-bottom:4%;
}



#add_user{
  text-align: center;
  background-color: white;
  border-radius: 10%;
  padding: 1rem;
  font-weight: bolder;
}

/* add_form.html */
#sub_form{
  background-color: white;
  border-radius: 10%;
  padding: 0.5rem;
  font-weight: bolder;
  margin-top:4%;
  
}

#first,#last,#add_img{
  width: 20rem;
}




/* detail.html */
#detail-div {
  margin-left:28%;
  margin-top:-6%;

  
}
#d-a,#d-h1{
  color:white;
}

#d-ul{
  list-style: none;
  margin-left: -6%;
}

#post-sec{
  background-color: black;
  width:192%;
  margin-bottom:-15%;
  margin-left:-78%;
}

#d-btn{
  background-color: white;
  font-weight: bolder;
  padding:0.5rem;
}



/* new_post.html */
#np-forms{
  display: flex;
  justify-content: center;
  margin-left:-10%;
}

#np-h1{
  margin-bottom: 3%;
}
#np-input3{
  width:30rem;
  margin-left:11% ;
  
}
#np-input1{
  width:30rem;
  margin-left:14%;
  
}

#dt-ed1,#dt-ed2{
background-color: white;
font-weight: bolder;
padding: 0.5rem;
border-radius: 10%;
}

#dt-ed2{
 margin-left:12%;
}

#new_p_tags{
  text-align: left;
 
  width:30rem;
  margin-left:50%;

}


/* edit.html */

#edit_form{
  position:relative;
}


#edit-cancel{
  margin-left:7%;
  margin-top:-3.6%;

}

#sub_edit{
  margin-left:-6%;
  background-color: white;
  font-weight: bolder;
  padding: 0.5rem;
  border-radius: 10%;
}

/* post_detail.html */

#card-bd{
  margin-left:-50%;
}
  
#pd-form1{
  margin-left:-35%;

}

#pd-form2{
  margin-top:-9.5%;
}

#pd-form3{
  margin-left:35%;
  margin-top:-9.3%;

}

#dt-del,dtp-ed{
  width:5rem;
  height:3rem;
}
#pdt-tags{
  font-weight: bolder;
}
#pt-dt-a{
  margin-top: 1rem;
  background-color: #00bbf9;
     color: white;
     padding-left:0.5rem;
     padding-right: 0.5rem;
     border-radius: 10%;
     
     text-align: center;
     text-decoration: none;
     display: inline-block;
}

/* all_posts.html */
#allp-h1{
  text-align: center;
}

#all_div{
  text-align: center;
  margin:1rem;
  margin-left:36%;
}

#all_h6,#all_time{
  font-size: x-small;
  
}
#allp_label{
  font-weight: bolder;
}

#allp_tg{
  margin-top: 1rem;
  background-color: #00bbf9;
     color: white;
     padding-left:0.5rem;
     padding-right: 0.5rem;
     border-radius: 10%;
     
     text-align: center;
     text-decoration: none;
     display: inline-block;
}


/* tags.html */

#tagslist{
  text-align: center;
  
}

#tags_ul,#tags_name{
  list-style: none;
  color: black;
  margin-right: 1.5%;
}

#tg_add_btn, #tg_btn_form{
  background-color: white;
  font-weight: bolder;
  border-radius: 10%;
  padding: 0.5rem;
}

/* add_tag.html */
#add_tag{
  display: flex;
  justify-content: center;
}

.form-check{
 text-align: left;
 
  width:30rem;
  margin-left:10%;
  
}

#atg-cancel,#add_tg_cancel{
margin-top: 11.5%;
margin-left:-15%;


}

#lebel_name{
  margin-right:25% ;
}
#atg_add{
  margin-right: 40%;
  background-color: white;
  font-weight: bolder;
  border-radius: 10%;
  padding: 0.5rem;
  
}
#atg_cancel{
  margin-left:-330%;
  margin-top:21.5%;
  background-color: black;
  color:white;
  font-weight: bolder;
  border-radius: 10%;
  padding: 0.5rem;
}

/* tags_detail.html */
#tag_dt_body{
  display: flex;
  justify-content: center;

}
 #tg_dt_div #tag_dt_ul{
  text-align:left;
 
  width:30rem;
  margin-right:-28rem;
}

#tag_dt_ul,#tag_dt_title{
  text-align: center;
  list-style: none;
  color: black;
}

#tg-dt-btns{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  margin-right:1rem;
  margin-top: 5rem;
  

}
#dt-delete1,#dt-btn,#dt-cancel-btn{
  background-color: black;
  color:white;
  font-weight: bolder;
  border-radius: 20%;
  padding: 0.5rem;
  

}


  
















/* Footer
© 2022 GitHub, Inc.
Footer navigation
Terms */
