{% extends 'base.html' %}
{% block title %}BLOGLY{% endblock %}

{% block content %}
<h1>Create a tag</h1>
<br/>
<br/>
<div id="add_tag">
<form action="/tags/new" method="POST" >
  <div id="lebel_name">
<label id="text_name1">Name: </label>
<input type="text" name="tg_name" id="text_name" >
</div>
<br/>
<br/>

<div class="form-check">
{% for all in post %}

<input type="checkbox" name="check" value="{{all.id}}" id="tg-ck{{all.id}}">
<label >{{all.title}}</label>

<br/>

{% endfor%}
</div>
<br/>
<button id="atg_add">Add</button>



</form>
<form action="/tags" id="add_tg_cancel">
  <button id="atg_cancel">Cancel</button>
</form>
</div>



















{% endblock %}