{% extends 'base.html' %}
{% block title %}ADD FORM{% endblock%}

{% block content %}
<h1>Create a user</h1>

<form action="\add_form" method="POST">
  <label>First Name</label><br/>
<input type="text" id="first" name="first" placeholder="first_name"><br/><br/>
<label>Last Name</label><br/>
<input type="text" id="last" name="last" placeholder="last_name"><br/><br/>
<label>Image-URL</label><br/>
<input type="url" name="img" id="add_img" placeholder="image_url"><br/><br/>
<button id="sub_form">Add</button>
</form>





{% endblock %}