{% extends 'base.html' %}
{% block title %}BLOGLY{% endblock %}

{% block content %}




    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{user.image_url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{user.get_full_name()}}</h1>
            <form class="d-grid gap-2 " action="/{{user.id}}/edit" style="float:left; margin:1rem;" method="GET">
              <button id="dt-ed" class=" btn btn-primary" style="width:6rem;">Edit</button>
              </form>
          
              <form class="d-md-block " action="/{{user.id}}/delete" style="margin:1.5rem;" method="POST">
              <button id="dt-del" class=" btn btn-primary bg-danger " style="width:6rem;" >delete</button> 
               <br/>
               <br/>
               <br/>
               <br/>
               <br/>
               <br/>
               
                <h1>Posts</h1>
                <ul>
                  {% for post in posts %}
                  <li><a href='/posts/{{post.id}}'>{{post.title}}</a></li>
                  {% endfor %}
                </ul>
              </form>

              <form action="/{{user.id}}/new_post">
                  <button>Add Post</button>
                </form>
                
              </div>
          
            </div>
        </div>
      </div>
    </div>









  







{% endblock %}