{% extends 'base.html' %}
{% block title %}BLOGLY{% endblock %}

{% block content %}


 
  

    <div id="detail-div" class="card mb-3" style="max-width: 540px;">
      <div id="div1" class="row g-0">
        <div id="div2" class="col-md-4">
          <img src="{{user.image_url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{user.get_full_name()}}</h1>
            <form class="d-grid gap-2 " action="/{{user.id}}/edit" style="float:left; margin:1rem;" method="GET">
              <button id="dt-ed" class=" btn btn-primary" style="width:6rem;">Edit</button>
              </form>
          
              <form class="d-md-block " action="/{{user.id}}/delete" style="margin:1.5rem;" method="POST">
              <button id="dt-del" class=" btn btn-primary bg-danger " style="width:6rem;" >delete</button> 
               <br/>
               <br/>
               <br/>
               <br/>
               <br/>
               <br/>
               <div id="post-sec">
                <br/>

                <h1 id="d-h1" >Posts</h1>
                <ul id="d-ul">
                  {% for post in posts %}
                  <li><a id="d-a" href='/posts/{{post.id}}'>{{post.title}}</a></li>
                  {% endfor %}
                </ul>
                <br/>
               
              </form>

              <form action="/{{user.id}}/new_post">
                  <button id="d-btn">Add Post</button>
                </form>
                <br/>
                <br/>
              </div>
              </div>
          
            </div>
        </div>
      </div>
    </div>









  







{% endblock %}